<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qx.wanke.a1clickbluetooth_1">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--在android4.4之前，访问sd卡的应用关联目录也要声明权限，从4.4开始不需要。此处增加这个权限声明为了兼容老系统。-->

    <!--<uses-permission android:name="android.permission.CAMERA" />-->
    <!--<uses-feature android:name="android.hardware.camera" />-->
    <!--<uses-feature android:name="android.hardware.camera.autofocus" />-->
<!--奇怪，不要这三个权限（为什么一个相机要3个权限？app的权限列表里没有相机，反而可以进入拍照界面，加了这3个，结果权限列表里是询问状态，
运行时，也没有提示要权限，直接闪退-->

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DeviceActivity"
            android:screenOrientation="portrait"></activity>


        <!--P297:android.name属性值是固定的，android.authorities属性值要和DeviceActivity里的
imageUri = FileProvider.getUriForFile(DeviceActivity.this, "com.qx.wanke.a1clickbluetooth_1.fileprovider", outputImage);方法中
第二个参数一致。在<provider>标签内部使用<meta-data>制定Uri的共享路径，并引用@xml/file_paths资源。在res目录-new-Directiry里创建，
右击xml目录-new-file：file_paths....xml-->
        <provider
            android:authorities="com.qx.wanke.a1clickbluetooth_1.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>